
.page-container{
	min-height: 100vh;
}
body{
	background-color: hsl(257, 40%,49%);
	background-image: url("images/bg-mobile.svg");
	color: white;
	background-size: 100%;
	background-repeat: no-repeat;
	min-width: 375px;
	height: calc(100% - 8px);
    margin: 8px 8px 0px 8px;
}
.logo{
	margin-bottom: 50px;
	width: 40%;
	margin-top: 30px;
	margin-left: 30px;
}
.first{
	margin-bottom: 100px;
	background-size: cover;
}
.second{
	text-align: center;

}
#mockUps{
	max-width: 100%;
	display: block;
	margin: 0 auto;
}
h1{
	margin-bottom: 25px;
	padding-right: 20px;
}
p{	
	font-size: 20px;
	padding: 0px 20px 15px 10px;
}
button{
	width: 250px;
	height: 45px;
	color: hsl(257, 40%,49%);
	background-color: white;
	border-radius: 28px;
	margin-bottom: 50px;
}
footer{
	justify-content: center;
	text-align: center;
	margin: 0 auto;
	width: 50%;
	position: absolute;
	bottom: 0;
}
section{
	display: block;
	text-align: center;
}
.two{
	padding-bottom: 100px;
}
span{
	display: inline-block;
	height: 50px;
	width: 50px;
	line-height: 50px;
	border-radius: 25px;
	border: solid 1px white;
	font-size: 2em;
	text-align: center;
	margin: 0px 10px;



}

@media only screen and (min-width: 992px) {
body{
	background-color: hsl(257, 40%,49%);
	background-image: url("images/bg-desktop.svg");
	color: white;
	background-size: 100%;
	background-repeat: no-repeat;
	min-width: 375px;
	height: 100vh;
	max-height: 100%;
	max-width: 100%;
	overflow: hidden;
}
.logo{
	margin-bottom: 30px;
	width: 20%;
	margin-top: 20px;
	margin-left: 20px;
}
#mockUps{
	display: inline-block;
	max-width: 100%;
	margin-left: 40px;
	padding-top: 60px;

}
.first{
	width: 50%;
}
h1{
	margin-left: 10px;
	vertical-align: middle;
	padding-right: 200px;
	margin-left: 30px;
}
p{
	margin-left: 30px;
	vertical-align: middle;
	padding-right: 100px;
}
button{
	margin-left: 30px;
}
.left{
	width: 40%;
	margin-left: 10px;
}
.second{
	width: 38%;
	text-align: left;
	margin: 0 auto;
	padding-top: 100px;
	padding-left: 30px;
}
section{
	display: normal;
}
span{
	float: right;
}
}
