body{
	background-color: #674BB1;
	background-image: url("images/bg-mobile.svg");
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 25px 38px 0;
	color: white;
}
#logo{
	float: left;
	margin-left: 10%;
	width: 40%;
	margin-bottom: 20%;
}
#mockUps{
	display: flex;
	width: 80%;
	margin: 0 auto;
}
.right{
	text-align: center;
	padding: 0px 30px;
}
p{
	font-family: 'Open Sans', sans-serif;
	font-size: 18.5px;

}
h1{
	padding: 0px 30px;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
}
button{
	background-color: white;
	color: hsl(257, 40%, 49%);
	margin: 0 auto;
	border-radius: 25px;
	text-align: center;
	padding: 12px 84px;
	border: none;
	box-shadow: 0 4px 8px 0, 0 6px 10px rgba(0,0,0,0.4);
	margin-bottom: 20%;
}


/*font-family: 'Poppins', sans-serif;
font-family: 'Open Sans', sans-serif;*/
